{% extends './layout.html' %}
{% block main %}
</br>
<div class='well'>
	<form action="/customers" method="POST">
	    <label for="name_field">Add Customer:</label>
	    <input name="name" value = "Customer Name" type="text" id="name_field"/>
	    <input class='btn btn-primary' type="submit" value="Submit" />
	</form>
</div>

<br/>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Actions</th>
	</tr>
	{% for customer in customers %}
	<tr>
		<td>{{customer.name}}</td>
		<td>
		<form method='POST' action='/customers/{{customer.id}}?method=PUT'>
		<button class = 'btn btn-primary'>Make Employee</button>
		</form>
		<form method='POST' action='/customers/{{customer.id}}?method=DELETE'>
		<button class = 'btn btn-danger'>Delete Customer</button>
		</form>
		</td>
	</tr>
		{% endfor %}
</table>
{% endblock %}