{% extends './layout.html' %}
{% block main %}
</br>
<form action="/departments/{{department.id}}/employees" method="POST">
    <label for="name_field">Add Employee:</label>
    <input name="name" value = "Employee Name" type="text" id="name_field"/>
    <input class='btn btn-primary' type="submit" value="Submit" />
 </form>

<br/>

	{% if department.isDefault %}
	<div class='well'>
		This is the default department
	</div>
	{% endif %}
	{% if !department.isDefault %}
	<div class='well'>
		<form method='POST' action='/departments/{{department.id}}?method=PUT'>
			<button class = 'btn btn-warning'>Make Default</button>
		</form>
	</div>
	{% endif %}
	<ul class='nav nav-pills'>
		{% for dept in departments %}
		<li {% if dept.id == department.id %} class="active" {% endif %}><a href="/departments/{{dept.id}}">{{dept.name}}</a></li>
		{% endfor %}
	</ul>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		{% for employee in employees %}
		<tr>
		<td>{{employee.name}}</td>
		<td>
			<form method='POST' action='/departments/{{department.id}}/employees/{{employee.id}}?method=PUT'>
			<button class = 'btn btn-primary'>Make Customer</button>
			</form>
			<form method='POST' action='/departments/{{department.id}}/employees/{{employee.id}}?method=DELETE'>
			<button class = 'btn btn-danger'>Delete Employee</button>
			</form>
		</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}







